streamlit
openai
langchain
Django
whitenoise
azure-ai-textanalytics
azure-search-documents
azure-appconfiguration-provider
azure-identity
azure-keyvault-secrets
pandas
streamlit_extras
streamlit-aggrid 